@charset "UTF-8";
.checkbox, .checkbox-div {
  display: flex;
  align-items: center;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

* {
  list-style: none;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  color: #212121;
}

.logo {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .logo {
    display: block;
    padding: 16px 0;
  }
}

@media screen and (max-width: 1139px) {
  .logo {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1140px) {
  .logo {
    padding: 24px 0 25px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-span {
  font-family: "Raleway";
  color: #2196f3;
}

/*герой-контейнер*/
.hero {
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

@media screen and (max-width: 480px) {
  .hero {
    width: 480px;
    height: 400px;
    background-image: url(../images/mobile-hero.jpg);
    background-size: 480px 400px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    width: 768px;
    height: 400px;
    background-image: url(//goit-markup-hw-08/images/tablet-hero.jpg);
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 769px) {
  .hero {
    width: 1600px;
    height: 600px;
    background-image: url(//goit-markup-hw-08/images/hero.jpg);
    background-size: 1600px 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  background-color: #ffffff;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin-top: 7px;
  margin-right: 8px;
  box-sizing: border-box;
  border-radius: 50%;
  border: solid 0px;
  border-color: #ffffff;
  background-color: #ffffff;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: #2196f3;
}

.name,
.telephone,
.email,
.textarea {
  display: flex;
  text-align: left;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  box-sizing: content-box;
}

.name {
  width: 25px;
}

.telephone {
  width: 50px;
}

.email {
  width: 35px;
}

.textarea {
  width: 80px;
}

.name-relative,
.telephone-relative,
.email-relative {
  position: relative;
}

.name-icon,
.email-icon {
  position: absolute;
  left: 12px;
  top: 28px;
}

.telephone-icon {
  position: absolute;
  left: 11px;
  top: 28px;
}

.name-input,
.telephone-input,
.email-input {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 0 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.name-icon,
.email-icon,
.telephone-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.name-input:focus,
.telephone-input:focus,
.email-input:focus {
  border-color: #2196f3;
  outline: none;
}

.name-input:focus + .name-icon,
.telephone-input:focus + .telephone-icon,
.email-input:focus + .email-icon {
  fill: #2196f3;
}

.email-input:invalid {
  border-color: red;
}

.email-input:invalid + .email-icon {
  fill: red;
}

.textarea-input {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-input:focus {
  border-color: #2196f3;
}

.checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-link {
  margin-left: 5px;
  margin-bottom: 2px;
  color: #2196f3;
  text-decoration-line: underline;
}

.checkbox-div {
  margin-bottom: 30px;
  margin-left: 12px;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-span {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  color: #212121;
  border: 2px solid #000000;
  border-radius: 2px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .icon-span {
  background-image: url(../images/icons/check.svg);
  background-color: #2196f3;
  background-size: cover;
  background-origin: border-box;
  border: none;
}

.modal-submit {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.hero-title {
  width: 360px;
  margin: 0 auto 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1140px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  display: inline-block;
  align-items: center;
  height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
}

/* раздел - особенности */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 767px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.features-icon {
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.features-list {
  margin: 0;
  padding: 0;
}

.features-list .item {
  width: 270px;
}

@media screen and (max-width: 767px) {
  .features-list .item {
    width: 450px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
  }
}

.features-list .item + .item {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .features-list .item + .item {
    margin-left: 0;
  }
}

.features-list p {
  margin: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.features-title {
  padding: 0;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */