@charset "UTF-8";
.header-box,
.navigation,
.header-items,
.menu-container, .checkbox, .checkbox-div, .client-list, .mail-button, .portfolio-filter {
  display: flex;
  align-items: center;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    min-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

* {
  list-style: none;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  color: #212121;
}

.header,
.header-portfolio {
  position: relative;
}

@media screen and (max-width: 767px) {
  .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .menu-button :hover {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    max-width: 480px;
    background-color: #ffffff;
  }
  .menu-container.is-open {
    display: block;
    height: 393px;
    max-height: 393px;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 1;
    border-top: 1px solid #eeeeee;
  }
}

@media screen and (min-width: 768px) {
  .header-items .link {
    padding-bottom: 34px;
    padding-top: 34px;
  }
}

.header-items {
  padding: 0;
  color: #212121;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .current {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .header-items .link {
    display: block;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .header-items .item + .item {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .contacts-icon {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .header-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .header-items .item + .item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header-items {
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.header-items .link,
.contacts-header .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope-icon,
.smartphone-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-items .link:hover,
.header-items .link:focus,
.contacts-header .link:hover,
.contacts-header .link:focus,
.current {
  color: #2196f3;
}

.current {
  position: relative;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-items .item,
  .contacts-header .item {
    display: block;
  }
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .contacts-header {
    display: block;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-header .item + .item {
    margin-top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-header {
    padding-top: 60px;
    padding-left: 0;
  }
}

.contacts-header .link {
  fill: #757575;
  color: #757575;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts-header .item + .item {
    margin-left: 50px;
  }
}

.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .envelope-icon,
  .smartphone-icon {
    margin-right: 7px;
  }
}

@media screen and (min-width: 1200px) {
  .envelope-icon,
  .smartphone-icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-icon {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contacts-header .item + .item {
    margin-top: 10px;
    margin-right: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header .item:not(:last-child) {
    margin-bottom: 7px;
  }
}

.contacts-icon:hover,
.contacts-icon:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts-container {
    padding: 21px 0;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .logo {
    display: block;
    padding: 16px 0;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding: 24px 0 25px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-span {
  font-family: "Raleway";
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding-left: 15px;
  }
}

/*герой-контейнер*/
.hero {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/goit-markup-hw-08/images/hero/compressed/hero-mobile.jpg);
}

@media screen and (max-width: 369px) {
  .hero {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

@media screen and (min-width: 370px) and (max-width: 435px) {
  .hero {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 435px) and (max-width: 479px) {
  .hero {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 450px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/goit-markup-hw-08/images/hero/compressed/hero-mobile.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/goit-markup-hw-08/images/hero/compressed/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/goit-markup-hw-08/images/hero/compressed/hero-tablet.jpg);
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/goit-markup-hw-08/images/hero/compressed/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/goit-markup-hw-08/images/hero/compressed/hero-desktop.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/goit-markup-hw-08/images/hero/compressed/hero-desktop@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .tittle-button {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-title {
  justify-content: center;
  width: 100%;
  margin: 0 0 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-title-button {
  height: 100%;
}

.hero-button {
  display: inline-block;
  align-items: center;
  height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  background-color: #ffffff;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 576px) {
  .modal {
    width: 90%;
  }
}

.modal-close {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin-top: 7px;
  margin-right: 8px;
  box-sizing: border-box;
  border-radius: 50%;
  border: solid 0px;
  border-color: #ffffff;
  background-color: #ffffff;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: #2196f3;
}

.name,
.telephone,
.email,
.textarea {
  display: flex;
  text-align: left;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  box-sizing: content-box;
}

.name {
  width: 25px;
}

.telephone {
  width: 50px;
}

.email {
  width: 35px;
}

.textarea {
  width: 80px;
}

.name-relative,
.telephone-relative,
.email-relative {
  position: relative;
}

.name-icon,
.email-icon {
  position: absolute;
  left: 12px;
  top: 28px;
}

.telephone-icon {
  position: absolute;
  left: 11px;
  top: 28px;
}

.name-input,
.telephone-input,
.email-input {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 0 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 576px) {
  .name-input,
  .telephone-input,
  .email-input {
    width: 100%;
  }
}

.name-icon,
.email-icon,
.telephone-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.name-input:focus,
.telephone-input:focus,
.email-input:focus {
  border-color: #2196f3;
  outline: none;
}

.name-input:focus + .name-icon,
.telephone-input:focus + .telephone-icon,
.email-input:focus + .email-icon {
  fill: #2196f3;
}

.email-input:invalid {
  border-color: red;
}

.email-input:invalid + .email-icon {
  fill: red;
}

.textarea-input {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 576px) {
  .textarea-input {
    width: 100%;
  }
}

.textarea-input:focus {
  border-color: #2196f3;
}

.checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 576px) {
  .checkbox {
    display: inline-flex;
    font-size: 12px;
    line-height: 1.66;
  }
}

.checkbox-link {
  margin-left: 5px;
  margin-bottom: 2px;
  color: #2196f3;
  text-decoration-line: underline;
}

.checkbox-div {
  margin-bottom: 30px;
  margin-left: 12px;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-span {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  min-width: 16px;
  min-height: 15px;
  color: #212121;
  border: 2px solid #000000;
  border-radius: 2px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .icon-span {
  background-image: url(../images/icons/check.svg);
  background-color: #2196f3;
  background-size: cover;
  background-origin: border-box;
  border: none;
}

.modal-submit {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/* раздел - особенности */
@media screen and (max-width: 767px) {
  .features {
    padding-top: 75px;
    padding-bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-icon {
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-icon {
    padding: 25px 142px;
  }
}

@media screen and (max-width: 767px) {
  .features-icon + .features-icon {
    margin-top: 30px;
  }
}

.features-list {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .features-list .item {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list .item {
    width: 354px;
  }
}

@media screen and (max-width: 767px) {
  .features-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list .item:nth-child(1),
  .features-list .item:nth-child(3) {
    margin-right: 30px;
  }
  .features-list .item:nth-child(1),
  .features-list .item:nth-child(2) {
    margin-bottom: 30px;
  }
}

.features-list p {
  margin: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.features-title {
  padding: 0;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*раздел - чем мы занимаемся*/
.visual-features h2 {
  margin: 0 0 50px;
  padding-bottom: 94px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .visual-features h2 {
    display: none;
  }
}

.visual-items {
  margin: 0;
  padding: 0;
  display: flex;
}

.visual-items img {
  display: none;
}

.visual-items .item + .item {
  margin-left: 30px;
}

.relative-div {
  position: relative;
}

.absolute-div {
  position: absolute;
  bottom: 0%;
}

.features-item {
  margin: 0;
  display: block;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.box-1 {
  padding: 27px 83px 27px 82px;
}

.box-2 {
  padding: 27px 85px;
}

.box-3 {
  padding: 27px 90px 27px 91px;
}

.box-1, .box-2, .box-3 {
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .absolute-div {
    display: none;
  }
}

/*наша команда*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 767px) {
  .team {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team-background {
  background-color: #f5f4fa;
}

.team-list {
  margin: 0;
  padding: 0;
}

.team-list img {
  display: block;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .team-list .item:first-child,
  .team-list .item:nth-child(3) {
    margin-right: 30px;
  }
  .team-list .item:nth-child(1),
  .team-list .item:nth-child(2) {
    margin-bottom: 30px;
  }
}

.team-list .item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .team-list .item + .item {
    margin-left: 28px;
  }
}

.team h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .team h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .thumb-team {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .thumb-team img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
}

.team-member {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-profession {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-icon {
  display: flex;
  padding: 0px 32px 30px;
  justify-content: center;
}

.team-icon .icon + .icon {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .team-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

/* team-icons */
.icon-svg .instagram-path-1,
.icon-svg .instagram-path-2,
.icon-svg .instagram-path-3,
.icon-svg .instagram-path-4,
.icon-svg .twitter-path-1,
.icon-svg .twitter-path-2,
.icon-svg .facebook-path-1,
.icon-svg .facebook-path-2,
.icon-svg .linkedin-path-1,
.icon-svg .linkedin-path-2,
.icon-svg .linkedin-path-3,
.icon-svg .linkedin-path-4 {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-svg:hover .instagram-path-1,
.icon-svg:hover .twitter-path-1,
.icon-svg:hover .facebook-path-1,
.icon-svg:hover .linkedin-path-1 {
  fill: #2196f3;
}

.icon-svg:hover .instagram-path-2,
.icon-svg:hover .instagram-path-3,
.icon-svg:hover .instagram-path-4,
.icon-svg:hover .twitter-path-2,
.icon-svg:hover .facebook-path-2,
.icon-svg:hover .linkedin-path-2,
.icon-svg:hover .linkedin-path-3,
.icon-svg:hover .linkedin-path-4 {
  fill: #ffffff;
}

.icon-svg {
  width: 44px;
  height: 44px;
}

/* постоянные клиенты */
.clients {
  padding-top: 60px;
  padding-bottom: 30px;
}

.clients h2 {
  margin: 0 0 30px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .clients h2 {
    font-size: 28px;
  }
}

.client-list {
  margin: 0;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .client-list {
    flex-wrap: wrap;
  }
}

.list-item {
  display: flex;
  padding: auto;
  margin: auto;
}

.client {
  padding-top: 20px;
}

.list-item {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .list-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .list-item {
    width: calc((100% - 30px) / 3);
  }
}

.client {
  width: 170px;
  height: 90px;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}

@media screen and (max-width: 767px) {
  .client {
    width: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client {
    width: 226px;
  }
}

.client-list a {
  display: inline-block;
  fill: #afb1b8;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list .client:hover,
.client-list .client:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

/* подвал */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .flex-child {
    margin-left: 165px;
  }
  .flex-child .footer-join-2 {
    margin-left: 30px;
  }
}

.logo-footer {
  display: block;
  text-align: center;
  margin: 0 0 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    display: inline-block;
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .logo-footer {
    display: inline-block;
    margin-left: 115px;
  }
}

.footer-address a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .footer-list {
    text-align: center;
    padding: 0;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-list {
    margin: 0 82px 0 0;
    padding: 0;
  }
}

.footer-list a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address a:hover,
.footer-address a:focus {
  color: #2196f3;
}

.footer-address .address {
  display: inline-block;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    align-items: baseline;
  }
}

.footer-join {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .footer-join {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-join {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-join {
    margin-left: 155px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-join-1 {
    display: none;
  }
}

.footer-icons {
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer-icons {
    justify-content: center;
  }
}

.footer-icons .item + .item {
  margin-left: 10px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .mail {
    display: flex;
    width: 570px;
    margin-left: 95px;
  }
}

.mail-log {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .mail-log {
    margin-left: 153px;
  }
}

@media screen and (max-width: 1199px) {
  .mail-log-1 {
    display: none;
  }
}

.mail-input {
  width: 100%;
  height: 50px;
  padding: 15px 0 15px 16px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .mail-input {
    display: flex;
    width: 358px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail-input {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mail .mail-input:invalid {
  border-color: red;
}

.mail-input:focus {
  border-color: #2196f3;
  outline: 0;
}

.mail-button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-button:focus {
  border: solid 1px;
  border-color: #ffffff;
}

.send-icon {
  margin-left: 10px;
}

/* footer-icons */
.icon-svg .facebook-footer-1,
.icon-svg .facebook-footer-2,
.icon-svg .instagram-footer-1,
.icon-svg .twitter-footer-1,
.icon-svg .linkedin-footer-1 {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-svg .facebook-footer-1,
.icon-svg .instagram-footer-1,
.icon-svg .twitter-footer-1,
.icon-svg .linkedin-footer-1 {
  fill: rgba(255, 255, 255, 0.1);
}

.icon-svg:hover .instagram-footer-1,
.icon-svg:hover .twitter-footer-1,
.icon-svg:hover .linkedin-footer-1,
.icon-svg:hover .facebook-footer-1 {
  fill: #2196f3;
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter {
  justify-content: center;
  padding: 0;
  margin: 0 0 50px;
}

@media screen and (max-width: 767px) {
  .portfolio-filter {
    flex-wrap: wrap;
  }
}

.portfolio-filter a {
  display: inline-block;
  padding: 11px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter a:hover,
.portfolio-filter a:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter .item + .item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio-filter .item:nth-child(1),
  .portfolio-filter .item:nth-child(2),
  .portfolio-filter .item:nth-child(3) {
    margin-bottom: 15px;
  }
}

.portfolio-content {
  width: 100%;
  min-width: 320px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

@media screen and (max-width: 767px) {
  .thumb-portfolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.portfolio-title {
  margin: 0 0 4px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-service {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.portfolio-list .item {
  width: 100%;
  display: block;
}

.portfolio-list img {
  display: block;
}

.portfolio-list .item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-box {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 450px;
  height: 294px;
  max-height: 294px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-box:hover .overlay {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */