/* раздел - особенности */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (max-width: 767px) {
    padding-top: 75px;
    padding-bottom: 45px;
  }
}

.visuallyhidden {
  @extend %visuallyHidden;
}

.features-icon {
  background-color: $backgroundColor;
  padding: 25px 100px;
}
@media screen and (max-width: 767px) {
  .features-icon + .features-icon {
    margin-top: 30px;
  }
}

.features-list {
  margin: 0;
  padding: 0;

  & .item {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 767px) {
      width: 100%;
      text-align: center;
      align-items: center;
    }
  }
}
@media screen and (max-width: 767px) {
  .features-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

// .features-list .item + .item {
//   margin-left: 30px;
// }

// .features-list .item {
//   width: 270px;
// }

.features-list p {
  margin: 0;
  color: $secondTextColor;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  @media screen and (min-width: 576px) and (max-width: 767px) {
    text-align: center;
  }
}

.features-title {
  padding: 0;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
