/* подвал */

.footer {
  background-color: $secondaryBackgroundColor;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
  }
}

@media screen and (min-width: 1200px) {
  .footer-background {
    width: 100%;
    background-color: $secondaryBackgroundColor;
  }
}

.footer-inline-flex {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-flex;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    width: 507px;
  }
}

.flex-child {
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 165px;
    & .footer-join-2 {
      margin-left: 30px;
    }
  }
}
.flex-child {
  @media screen and (min-width: 768px) {
    width: 300px;
  }
}

.flex-child {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 70px;
    width: 206px;
  }
}

.logo-footer {
  display: block;
  text-align: center;
  margin: 0 0 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $primaryWhiteColor;
  @media screen and (min-width: 1200px) {
    display: inline-block;
    font-size: 26px;
    line-height: 1.19;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
    margin-left: 40px;
  }
}

.footer-address a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-list {
  @media screen and (max-width: 767px) {
    text-align: center;
    padding: 0;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
    width: 232px;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

.footer-list a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubicBezier;
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-list .item:not(:first-child) {
    margin-left: 40px;
  }
}

.footer-address a:hover,
.footer-address a:focus {
  color: $accentColor;
}

.footer-address .address {
  display: inline-block;
  color: $primaryWhiteColor;
}

.footer-flex {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    width: 231px;
    flex-direction: column;
    align-items: baseline;
  }
}

.footer-join {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 0px;
  color: $primaryWhiteColor;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    flex-direction: column;
    width: 231px;
  }
}

.footer-join-1 {
  display: none;
}

@media screen and (min-width: 1200px) {
  .address-flex {
    display: flex;
  }
}

.footer-icons {
  display: flex;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.footer-icons .item + .item {
  margin-left: 10px;
  @media screen and (min-width: 1199px) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-container {
    display: flex;
    flex-direction: column;
    width: 570px;
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .mail {
    display: flex;
    width: 570px;
  }
}
.mail-log {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primaryWhiteColor;
  @media screen and (min-width: 1200px) {
    width: 219px;
  }
}

.mail-log-1 {
  display: none;
}

.mail-input {
  display: flex;
  width: 95%;
  height: 50px;
  padding: 15px 15px 15px 16px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: left;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: $secondaryBackgroundColor;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: $cubicBezier;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.mail .mail-input:invalid {
  border-color: red;
}

.mail-input:focus {
  border-color: $accentColor;
  outline: 0;
}

.mail-button {
  @extend %centeredFlex;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 10px 28px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: $accentColor;
  color: $primaryWhiteColor;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: $cubicBezier;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.mail-button:focus {
  border: solid 1px;
  border-color: $primaryWhiteColor;
}

.send-icon {
  margin-left: 10px;
}

/* footer-icons */
.icon-svg .facebook-footer-1,
.icon-svg .facebook-footer-2,
.icon-svg .instagram-footer-1,
.icon-svg .twitter-footer-1,
.icon-svg .linkedin-footer-1 {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $cubicBezier;
}

.icon-svg .facebook-footer-1,
.icon-svg .instagram-footer-1,
.icon-svg .twitter-footer-1,
.icon-svg .linkedin-footer-1 {
  fill: rgba(255, 255, 255, 0.1);
}

.icon-svg:hover .instagram-footer-1,
.icon-svg:hover .twitter-footer-1,
.icon-svg:hover .linkedin-footer-1,
.icon-svg:hover .facebook-footer-1 {
  fill: $accentColor;
}
