// шапка
.header {
  position: relative;
  // padding-top: 32px;
  // padding-bottom: 32px;
}

.header-box,
.navigation,
.header-items {
  @extend %centeredFlex;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .navigation .logo {
    margin-right: 276px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .menu-button .icon-cross {
    display: none;
  }

  .menu-button.is-open .icon-cross {
    display: block;
  }

  .menu-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: $primaryWhiteColor;

    &.is-open {
      display: block;
    }
  }
}

.header-items .item:not(:last-child) {
  margin-right: 50px;
}

.header-items {
  margin: 0 84px 0 88px;
  padding: 0;

  color: $primaryTextColor;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header-items {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: column;
  }
}

.header-items .link,
.contacts-header .link {
  // padding-top: 32px;
  // padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubicBezier;

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}

.envelope-icon,
.smartphone-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $cubicBezier;
}

.header-items .link:hover,
.header-items .link:focus,
.contacts-header .link:hover,
.contacts-header .link:focus,
.current {
  color: $accentColor;
}

.current {
  position: relative;
  color: $accentColor;
}

@media screen and (max-width: 767px) {
  .header-items .item,
  .contacts-header .item {
    display: block;
  }
}

.current::after {
  content: "";
  display: block;

  position: absolute;
  left: 0px;
  bottom: 0px;

  width: 100%;
  height: 5px;

  background-color: $accentColor;
  border-radius: 2px;
}

.contacts-header {
  display: flex;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    display: block;
    justify-content: left;
    align-items: center;
  }
}

.contacts-header .link {
  fill: $secondTextColor;
  color: $secondTextColor;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts-header .item + .item {
    margin-left: 50px;
  }
}

.envelope-icon,
.smartphone-icon {
  @media screen and (min-width: 768px) {
    margin-right: 7px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.contacts-icon {
  display: inline-flex;

  // @media screen and (max-width: 1199px) {
  //   display: block;
  //   // flex-wrap: wrap;
  // }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.contacts-header .item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts-icon:hover,
.contacts-icon:focus {
  fill: $accentColor;
}

@media screen and (min-width: 768px) {
  .contacts-container {
    padding: 21px 0;
  }
}
