// шапка
.header,
.header-portfolio {
  position: relative;
}

.header-box,
.navigation,
.header-items,
.menu-container {
  @extend %centeredFlex;
}

@media screen and (max-width: 767px) {
  .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// .header-box {
//   display: flex;
//   align-items: center;
// }
// .navigation {
//   display: flex;
//   align-items: center;
// }
// .header-items {
//   display: flex;
// }

@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  @media screen and (max-width: 767px) {
    .menu-button :hover {
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: $cubicBezier;
      fill: $accentColor;
    }
  }

  .menu-button .icon-cross {
    display: none;
  }

  .menu-button.is-open .icon-cross {
    display: block;
  }

  .menu-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    max-width: 480px;
    background-color: $primaryWhiteColor;

    &.is-open {
      display: block;
      height: 393px;
      max-height: 393px;
      padding-top: 60px;
      padding-bottom: 60px;
      z-index: 1;
      border-top: 1px solid #eeeeee;
    }
  }
}
@media screen and (min-width: 768px) {
  .header-items .link {
    padding-bottom: 34px;
    padding-top: 34px;
  }
}

// .header-items .item:not(:last-child) {
//   margin-right: 50px;
// }

.header-items {
  padding: 0;
  color: $primaryTextColor;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .current {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .header-items .link {
    display: block;
  }

  @media screen and (max-width: 767px) {
    .header-items .item + .item {
      margin-top: 40px;
    }
  }

  @media screen and (max-width: 767px) {
    .contacts-icon {
      display: block;
    }
  }
}
@media screen and (max-width: 767px) {
  .header-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .header-items .item + .item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header-items {
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.header-items .link,
.contacts-header .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubicBezier;
}

.envelope-icon,
.smartphone-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $cubicBezier;
}

.header-items .link:hover,
.header-items .link:focus,
.contacts-header .link:hover,
.contacts-header .link:focus,
.current {
  color: $accentColor;
}

.current {
  position: relative;
  color: $accentColor;
}

@media screen and (max-width: 767px) {
  .header-items .item,
  .contacts-header .item {
    display: block;
  }
}

.current::after {
  content: "";
  display: block;

  position: absolute;
  left: 0px;
  bottom: 0px;

  width: 100%;
  height: 5px;

  background-color: $accentColor;
  border-radius: 2px;
}

.contacts-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    display: block;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-header .item + .item {
    margin-top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-header {
    padding-top: 60px;
    padding-left: 0;
  }
}

.contacts-header .link {
  fill: $secondTextColor;
  color: $secondTextColor;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts-header .item + .item {
    margin-left: 50px;
  }
}

.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
  @media screen and (min-width: 768px) {
    margin-right: 7px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-icon {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contacts-header .item + .item {
    margin-top: 10px;
    margin-right: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header .item:not(:last-child) {
    margin-bottom: 7px;
  }
}

.contacts-icon:hover,
.contacts-icon:focus {
  fill: $accentColor;
}
.contacts-container {
  @media screen and (min-width: 768px) {
    padding: 21px 0;
  }
}
