//  <-------страница-портфолио--------->

// навигация

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.portfolio-filter {
  @extend %centeredFlex;
  padding: 0 0 40px;
  margin: 0;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: left;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    padding: 60px 0 30px;
  }
}

.portfolio-filter a {
  display: inline-block;
  padding: 11px 22px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: $backgroundColor;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $cubicBezier;
}

.portfolio-filter a:hover,
.portfolio-filter a:focus {
  background-color: $accentColor;
  color: $primaryWhiteColor;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio-filter .item + .item {
    margin-left: 8px;
  }
}

@media screen and (max-width: 391px) {
  .portfolio-filter .item:nth-child(1),
  .portfolio-filter .item:nth-child(3) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 392px) and (max-width: 767px) {
  .portfolio-filter .item:nth-child(1),
  .portfolio-filter .item:nth-child(2),
  .portfolio-filter .item:nth-child(4) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 392px) and (max-width: 767px) {
  .portfolio-filter .item:nth-child(1),
  .portfolio-filter .item:nth-child(2),
  .portfolio-filter .item:nth-child(3) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 391px) {
  .portfolio-filter .item:nth-child(3),
  .portfolio-filter .item:nth-child(4),
  .portfolio-filter .item:nth-child(5) {
    margin-top: 15px;
  }
}
