//  <-------страница-портфолио--------->

// навигация

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter {
  @extend %centeredFlex;
  justify-content: center;
  padding: 0;
  margin: 0 0 50px;
}

.portfolio-filter a {
  display: inline-block;
  padding: 11px 22px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: $backgroundColor;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $cubicBezier;
}

.portfolio-filter a:hover,
.portfolio-filter a:focus {
  background-color: $accentColor;
  color: $primaryWhiteColor;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter .item + .item {
  margin-left: 8px;
}
