/*наша команда*/
.team {
  background-color: $backgroundColor;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin: 0;
  padding: 0;

  & img {
    display: block;
    margin-bottom: 30px;
  }
}

// .team-list img {
//   display: block;
//   margin-bottom: 30px;
// }

.team-list .item {
  background-color: $primaryWhiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member {
  margin: 0 0 10px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-profession {
  margin: 0 0 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondTextColor;
}

.team-icon {
  display: flex;
  padding: 0px 32px 30px;

  & .icon + .icon {
    margin-left: 10px;
  }
}

/* team-icons */
.icon-svg .instagram-path-1,
.icon-svg .instagram-path-2,
.icon-svg .instagram-path-3,
.icon-svg .instagram-path-4,
.icon-svg .twitter-path-1,
.icon-svg .twitter-path-2,
.icon-svg .facebook-path-1,
.icon-svg .facebook-path-2,
.icon-svg .linkedin-path-1,
.icon-svg .linkedin-path-2,
.icon-svg .linkedin-path-3,
.icon-svg .linkedin-path-4 {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $cubicBezier;
}

// .team-icon .icon + .icon {
//   margin-left: 10px;
// }

.icon-svg:hover .instagram-path-1,
.icon-svg:hover .twitter-path-1,
.icon-svg:hover .facebook-path-1,
.icon-svg:hover .linkedin-path-1 {
  fill: $accentColor;
}

.icon-svg:hover .instagram-path-2,
.icon-svg:hover .instagram-path-3,
.icon-svg:hover .instagram-path-4,
.icon-svg:hover .twitter-path-2,
.icon-svg:hover .facebook-path-2,
.icon-svg:hover .linkedin-path-2,
.icon-svg:hover .linkedin-path-3,
.icon-svg:hover .linkedin-path-4 {
  fill: $primaryWhiteColor;
}

.icon-svg {
  width: 44px;
  height: 44px;
}
