/*раздел - чем мы занимаемся*/

.visual-features h2 {
  margin: 0 0 50px;
  padding-bottom: 94px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.visual-items {
  margin: 0;
  padding: 0;
  display: flex;

  & img {
    display: block;
  }
  & .item + .item {
    margin-left: 30px;
  }
}

// .visual-items img {
//   display: block;
// }

// .visual-items .item + .item {
//   margin-left: 30px;
// }

.relative-div {
  position: relative;
}

.absolute-div {
  position: absolute;
  bottom: 0%;
}

.features-item {
  margin: 0;
  display: block;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primaryWhiteColor;
}

.box-1 {
  padding: 27px 83px 27px 82px;
}

.box-2 {
  padding: 27px 85px;
}

.box-3 {
  padding: 27px 90px 27px 91px;
}
.box {
  &-1,
  &-2,
  &-3 {
    background-color: rgba(47, 48, 58, 0.8);
  }
}
