//переменные цвета
$primaryTextColor: #212121;
$secondTextColor: #757575;
$accentColor: #2196f3;
$primaryWhiteColor: #ffffff;
$primaryBlackColor: #000000;
$backgroundColor: #f5f4fa;
$secondaryBackgroundColor: #2f303a;
$svgClientColor: #afb1b8;
// переменная кубика
$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);